<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NECTD - People Connected Services</title>
		<meta name="description" content="Nectd People Connected Services" />
		<meta name="keywords" content="NECTD" />
		<meta name="author" content="NECTD" />
		<!-- Bootstrap -->
		<script src="/assets/js/modernizr.custom.js"></script>
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
		<link href="/assets/css/flickity.css" rel="stylesheet" >
		<link href="/assets/css/animate.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link href="/assets/css/styles.css" rel="stylesheet">
		<link href="/assets/css/queries.css" rel="stylesheet">
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="NECTD"/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content="http://www.nectd.com"/>
		<meta property="og:site_name" content="NECTD"/>
		<meta property="og:description" content="NECTD - People Connected Services"/>
		<meta name="twitter:title" content="NECTD" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="http://www.twitter.com/nectd" />
		<meta name="twitter:card" content="" />

		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="/"><img src="/assets/img/logo-white.png" alt="Boxify Logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">The most elegant way to get and publish always up to date contact details </h1>
							<a href="#join" class="use-btn animated fadeInUp">Join the Beta</a> <a href="#about" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
						</div>
					</div>

				</div>
			</section>
		</header>
		<section class="video" id="video">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
					<h1><i class="fa fa-heart"></i> LEARN MORE</h1>
					<!--
						<h1><a href="http://www.youtube.com/embed/9No-FiEInLA?autoplay=1&wmode=opaque&fs=1" class="youtube-media"><i class="fa fa-play-circle-o"></i> Watch the Video</a></h1>-->
					</div>
				</div>
			</div>
		</section>
		<section class="features-intro" id="about">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 nopadding features-intro-img">
						<div class="features-bg">
							<div class="texture-overlay"></div>
							<div class="features-img wp1">
								<img src="/assets/img/logo-small.png">
							</div>
						</div>
					</div>
					<div class="col-md-6 nopadding">
						<div class="features-slider">
								<ul class="slides" id="featuresSlider">
									<li>
										<h1>Take back control of your contact details</h1>
										<p><strong>Nectd is a centralized address book where you are in control of your contact details.</strong> Make your life easier by updating a single public profile.</p>
										<p><strong>Got a new telephone number?</strong> Don't waste your time by notifying each of your collegues and friends! Let us do the dirty work!</p>
										<p><a href="#features" class="arrow-btn">Find out why this service rocks! <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
									<li>
										<h1>Manage your contacts with dynamic lists</h1>
										<p>A simple feature and yet so powerful. <strong>Create shareable public or private lists of contacts to quickly manage your teams, clients or friends.</strong></p>
										<p>Stop worrying about your 600+ address book contacts and focus on just the ones that matter most.</p>
										<p><a href="#features" class="arrow-btn">Find out why this service rocks! <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
									<li>
										<h1>Great for Business, Awesome for everyone</h1>
										<p><em>"Can you repeat your phone number?"</em> ... <em>"What is your email again?"</em></p>
										<p>There is no value in living in a connected world if people can't find each other with easiness. <strong>We want you to be reachable.</strong></p>
										<p><a href="#features" class="arrow-btn">Find out why this service rocks! <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
								</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="features-list" id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4 feature-1 wp2">
							<div class="feature-icon">
								<i class="fa fa-sitemap"></i>
							</div>
							<div class="feature-content">
								<h1>Handle Based</h1>
								<p>Imagine the simplicity of Twitter handles and improve them to accomodates new modern communication needs.</p>
								<p>Nectd handles are hierarchical, expandable and verified, by design.</p>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp2 delay-05s">
							<div class="feature-icon">
								<i class="fa fa-key"></i>
							</div>
							<div class="feature-content">
								<h1>Unparallel control</h1>
								<p>You will have total control over your personal data: import and export from and to other services, create public and private profiles, ban and revoke access to selected people.</p>
								<p>Business users can also apply and grant advanced permissions to employees or collegues.</p>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp2 delay-1s">
							<div class="feature-icon">
								<i class="fa fa-lock"></i>
							</div>
							<div class="feature-content">
								<h1>Privacy and Security</h1>
								<p>With great power comes great responsability and we take privacy and security very seriously.</p>
								<p>Nectd does not tolerate harassment or abuse in any way and we are constantly implementing strong security features to safe guard our Nectd citizens.</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<section class="showcase">
			<div class="showcase-wrap">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="device wp3">
								<div class="device-content">
									<div class="showcase-slider">
										<ul class="slides" id="showcaseSlider">
											<li>
												<img src="/assets/img/screen1.png" alt="Device Content Image">
											</li>
											<li>
												<img src="/assets/img/screen2.png" alt="Device Content Image">
											</li>
											<li>
												<img src="/assets/img/screen3.png" alt="Device Content Image">
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h1>UNLEASH THE POWER</h1>
							<p>Get the Nectd companion mobile app to unleash the true benefits of being a Nectd citizen. With the mobile app you will have access to the <strong>two way syncronization</strong> between your personal address book and your Nectd profile, to the <strong>sharing of contacts</strong> and the <strong>creation of dynamic lists</strong>.</p>
							<p>Necting to other people will be just a tap away.</p>

							<blockquote class="team-quote">
								<div class="avatar"><img src="/assets/img/avatar.png" alt="User Avatar"></div>
								<p>"Finally an address book for the modern age."<br> - Hoang Huynh, founder</p>

							</blockquote>

							<a href="#join" class="download-btn">Join the Beta<i class="fa fa-rocket"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="developers-intro" id="developers">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1><i class="fa fa-wrench"></i> LIKE BUILDING STUFF?</h1>
						<h2>We Do!</h2>
						<p>Want to integrate Nectd profiles right now on your already up and running website? No problem! We provide you with out of the box plugins for <a href="http://www.wordpress.org">Wordpress</a>, <a href="http://www.drupal.com">Drupal</a>, <a href="http://www.symfony.com">Symfony</a> and many more.</p>
						<p>Do you need more power? If you are a developer you can directly access to all Nectd features using the <strong>NECTD SDK</strong>, available for <strong>Javascript</strong>, <strong>IOS</strong> and <strong>Android</strong>, and, in any other case, our soon-to-be documented <strong>REST API</strong>.</p>
						<h2>Do you want to build something together?</h2>
						<p>We really love to build some custom integration with your service! Want to build a better world? Let's have a talk <a href="http://nectd.com/">@nectd</a>.</p>
					</div>
					<div class="col-md-4">
						<div class="logosingle wp4">
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="download" id="join">
			<div class="container">

				<!-- Intro: Your intro text and MailChimp form. -->
		        <div class="row">
		            <div class="content">
		                <!-- Pre-Submission: This is what's displayed before the subscription form has been submitted. -->
		                <div id="pre-subscribe">

		                    <div class="row" id="subscribe">
			                    <div class="col-md-12 text-center wp5">
									<h1><i class="fa fa-rocket"></i> JOIN THE BETA</h1>
									<p>Leave your mail below for applying for the closed beta. As soon as you will be enrolled, we will ask you a bunch of information to properly reserve your Nectd handle.</p>

									<form class="row" id="mailchimp" action="/tmp/post-subscribe.php" method="post">
			                        	<input type="text" name="fname" id="fname" placeholder="Firstname" class="inputfield">
			                        	<input type="text" name="lname" id="lname" placeholder="Lastname" class="inputfield">
			                        	<input type="email" name="email" id="email" placeholder="you@youremail.com" class="inputfield">
			                        	<button type="submit" name="subscribe" class="button fa submit"></button>
			                        </form>
								</div>
		                    </div>
		                </div>

		                <!-- Post Subscription: This is what’s displayed after the subscription form has been submitted.  -->
		                <div id="post-subscribe">
		                    <div class="row" id="copy">
		                        <h1>Thanks for <strong>signing up</strong>. Check your email to <strong>confirm</strong> your subscription.</h1>
		                    </div>
		                </div>


		            </div>
		        </div>

			</div>
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h1 class="footer-logo">
							<img src="/assets/img/logo.png" alt="Footer Logo">
						</h1>
						<p><a href="/">NECTD</a> is made with <i class="fa fa-heart"></i> by smart people in San Francisco (US) and Bologna (IT) <br> Website Designed &amp; Developed by <a href="http://www.peterfinlan.com/">Peter Finlan</a></p>
						<p>© NECTD 2015</p>
					</div>
					<div class="col-md-7">
						<ul class="footer-nav">
							<li><a href="#about">About</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#developers">Developers</a></li>
							<li><a href="#join">Join the Beta</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<div class="overlay overlay-boxify">
			<nav>
				<ul>
					<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
					<li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
				</ul>
				<ul>
					<li><a href="#developers"><i class="fa fa-desktop"></i>Developers</a></li>
					<li><a href="#join"><i class="fa fa-rocket"></i>Join the Beta</a></li>
				</ul>
			</nav>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/assets/js/toucheffects.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/assets/js/flickity.pkgd.min.js"></script>
		<script src="/assets/js/jquery.fancybox.pack.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/assets/js/retina.js"></script>
		<script src="/assets/js/waypoints.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/scripts.js"></script>
	</body>
</html>
