.group-set {
    padding: 0 .5rem;
    overflow: hidden;
}

.group {
    border-radius: $radius-base;
    box-shadow: $material-shadow;
    background-color: $group-background;
    margin: .5rem;
    width: 350px;
    float: left;
    min-height: 400px;
    padding: .5rem;
}
.group-header {
    font-weight: bold;
    margin: -.5rem;
    padding: .5rem 1rem 0;
}
.group-action {
    border: 0 none;
    background: none;
    cursor: pointer;
    color: #aaa;
}
