.tab-list {
    position: fixed;
    top: $header-height;
    left: 0;
    width: $tab-list-width;
    bottom: 0;
    background: $tab-list-bg;
    // display: flex;
}

.main-tab {
    display: flex;
    height: 33.3%;
    align-items: center;
    justify-content: center;
}
