.tab-list {
    float: left;
    top: $header-height;
    width: $tab-list-width;
    background: $tab-list-bg;
    height: calc(100vh - #{$header-height});
}

.main-tab {
    display: flex;
    height: 33.3%;
    align-items: center;
    justify-content: center;
}
