.user-list {
    float: left;
    width: 100vw * $userlist-width-ratio;
    background: $userlist-background;
    height: calc(100vh - #{$header-height});
    padding: 0 .5rem;
    box-shadow: $material-right-shadow;
}

.user-avatar {
    display: inline-block;
    margin: .25rem;
    height: 2.5rem;
    width: 2.5rem;
    background: $avatar-bg;
    border-radius: 100%;
    text-align: center;
    overflow: hidden;

    > .fa { font-size: 250%; }
}

.user-contact {
    height: $userlist-item-height;
    margin: 0 1rem;
    border-bottom: 1px solid $userbox-bg;

    > .user-avatar { vertical-align: middle; }
}
