// Colors
$default-color: #aaa;

$brand-color: #323c3c;
$bg-color: #a2cade;

$root-font-size: 16px;
$font-stack: Arial, Helvetica, sans-serif;

$material-shadow: 0 1px 1px rgba(0, 0, 0, .35);
$radius-base: 1rem / 4;
$radius-small: 1rem / 8;

$minimum-width: 1000px;

$avatar-bg: #ccc;

// Header
$header-height: 3rem;
$header-bg: white;

// User list
$userlist-width-ratio: .2;
$userlist-background: rgba(black, .1);

$userbox-bg: #eee;

// Groups
$group-background: white;

// Tab List
$tab-list-width: 3rem;
$tab-list-bg: rgba(0, 0, 0, .25);
