{% extends 'mockup/mockup.twig' %}

{% block content %}
<div class="nectd-card-list">
    <div class="nectd-card">
        <div class="nectd-card-body">
        </div>
    </div>
</div>
{% endblock %}
