#cookiebar{
	@include position-transition;
	@include box-shadow(0, 0.1em , 1em, $color-dark);
	z-index: 1000;
	background-color: $color-bg;
	position: fixed;
	bottom: 0;
	border-top: 10px solid $color-primary;
	width: 100%;
	margin: 0;
	height: 100px;
	&.hide-by-height{
		bottom: -120px;
	}
}

#action_close_cookiebar_{
	background-color: $color-bg;
	border:	1px solid $color-layout;
	&:hover{
		background-color: $color-secondary;
	}
}

@media (max-width: 768px) {
	#cookiebar {
		height: auto;
	}
}
