.nectd-card-list {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nectd-card {
    @extend .nectd-container-wrapper;
}
.nectd-card-body {
    @extend .nectd-container;
    padding: $padding-large-v $padding-large-h;

    min-width: $card-min-width;
    min-height: $card-min-height;
    width: $card-width;
    height: $card-height;

    display: flex;
    align-items: center;
    &::before {
        content: "handle";
        text-transform: uppercase;
        color: rgba(black, .5);
        display: block;
        width: 100%;
        text-align: center;
        font-size: 5em;
    }
}
